.CreateOrderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 100vh;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.tableContainer {
    width: 80%;
    max-width: 80%;
    height: 60%; /* Fixed height for the container */
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow-y: auto;
    background-color: white;
    flex-shrink: 0;
    margin-top: 1%;
}
.table-header {
    display: flex; /* Flex layout for the header */
    background-color: #f2f2f2; /* Header background color */
    position: sticky; /* Make header sticky */
    top: 0; /* Stick to the top */
    z-index: 1;
    
}
  
.table-cell {
    flex: 1; /* Distribute space evenly among cells */
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Add a separator between rows */
}
  
.table-body {
    display: flex;
    flex-direction: column; /* Stack rows vertically */
}
  
.table-row {
    display: flex; /* Flex layout for rows */
}
  
tbody tr:hover {
    background-color: #f1f1f1; /* Highlight row on hover */
}

.submit {
    width: 20%;
}