.submit-screen {
    display: flex;
    height: 90vh;
    width: 95vw;
}

.order-list-container {
    width: 25%;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    margin-right: 20px;
}

.pay-order-list {
    list-style-type: none;
    padding: 0;
    height: 81.6%;
    overflow-y: auto;
}

.pay-order-list li {
    border-bottom: 1px solid black;
    color: black;
    padding: 10px;
}

.back-button {
    display: flex;
    justify-content: center;
    width: 100%
}

.back-button button {
    background-color: green;
    font-weight: bold;
    width: 100%
}