.submit-screen {
    display: flex;
    height: 90vh;
    width: 95vw;
}

.order-list-container {
    width: 25%;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    margin-right: 20px;
}

.order-list {
    list-style-type: none;
    padding: 0;
    height: 70%;
    overflow-y: auto;
}

.order-list li {
    border-bottom: 1px solid black;
    color: black;
    padding: 10px;
}

.selected {
    background-color: gray;
}