h1 {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 10px;
    display: flex;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
}